{% extends "story8base.html" %}
{% load static %}

  {% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Library</title>

    <div class="text-center container mt-5">
        <h1>Book List</h1>
      
        <div class="container mt-5">
              <input id="myInput" class="form-control" type="search" placeholder="Search for your book here!">
          <br>
          <input type="submit" id="button" value="search">
        </div>
        <div class="table-responsive mt-5">
            <table class=" table table-light table-hover">
                <thead class = "thead">
                <tr class="text-center">
                    <th scope="col" class="align-middle">No</th>
                    <th scope="col" class="cover">Cover</th>
                    <th scope="col" class="title">Title</th>
                    <th scope="col" class="categories">Description</th> 
                    <th scope="col" class="author">Authors</th>
                    <th scope="col" class="publisher">Publisher</th>
                   
                  </tr>
              </thead>
              <tbody></tbody>
            </table>
        </div>
      
      </div>
      
      



  {% endblock %}