body {
	margin :0;
	padding:0;
	font-family: sans-serif;
	transition: 0.5s;
	color : white;
}

body.night{
	background: #00151F;
}

.day {
	background-color: #FFFFFF;
	color : #123456;
}


.content {
    margin: 100px auto;
    width: 1000px;
}

.content h1{
    margin:0 0 20px;
    padding: 0;
    color: #000;
    transition:0.5s;
/*  font-size: ;*/
}

.content p{
    margin:0;
    padding: 0;
    color: #000;
    transition:0.5s;
    font-size:18px ;
}

body.night .content h1,
body.night .content p {
    color: #FFF;
}

div {
    background-color: inherit;
}

/*batas accordion*/

p{
    font:18px Lato, sans-serif;
}

.day {
    background-color: #FFFFFF;
    color : #123456;
}

h3{
    display: inline;
}

img {
    display: block;
    float: right;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: inherit;
  color: inherit;
  display: none;
  overflow: hidden;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}


.switch{
	margin-left: 45%;
	margin-right: auto;
	width: 50px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.toggle:checked + .slider {
    background-color: #2196F3;
}

.toggle:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.toggle {
    position:absolute ;
    top: 70px;
    right: 60px;
    background: #FFF ;
    border: 2px solid #00151f ;
    height: 27px;
    width:50px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;

}


.toggle:active {
    background : #00151F;
    border: 2px solid #fff ;
}

.toggle:before {
    content: '';
    position: absolute;
    top: 1px;
    left :1px;
/*  bottom: 2px;*/
    background: #00151F ;
    height: 21px;
    width:21px;
    border-radius: 50%;
    transition: 0.5s;
}

.toggle.active:before {
    left: 27px;
    background: #fff ;

}