{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
</head>

<body>


<h1 style="text-align: center;">
  Halo, Apa Kabarr?
</h1>

<br>
<br>

 <br>
    <div id="title" style="text-align: center;">
      <h4>Status Form</h4>
      <form method='POST'> 
        {% csrf_token %}
        {{ statusForm.status }}
        <button id='submit' type='submit' class="save">Save</button>
      </form>
    </div>


  
    <br>
    <br>
    <div id="title2" style="text-align: center;">
      <h4>Status</h4>
    </div>
    <div class="container">
      <!--bikin table-->
      <table style="width:100%; text-align: center;">
  <tr>
    <th style="width: 30%">Status</th>
    <th>Waktu</th>
    <th> </th>
  </tr>
   {% for form_output in status %}
      <div class="row">
        <tr>
        <div class="col-sm-6">
         <td style="max-width: 30%; word-break: break-word;"> {{ form_output.status }} </td>
        </div>
        <div class="col-sm-3">
         <td> {{ form_output.date }} </td>
        </div>
        <div class="col-sm-3">
         <td> <a href= "{% url 'Story_6:delete' pk=form_output.pk %} "> <button type="submit">Hapus</button></a> </td>
        </div>
      </tr>
      </div>

      
    {% endfor %}
  </table>
    </div>
    </body>
<br>
<br>
<br>


{% endblock %}
