{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<br>
<h1 style="text-align: center;">
  Halo, Apa Kabarr?
<br>
<br>

 <label class="switch">
 	<input class ="toggle" type="checkbox">
  	<span class="slider"></span>
</label>


<div id="accordions">
  	<button class ="accordion">
     	<h3>Aktivitas</h3> 
     	<img src="{% static 'arrow-down-icon-png-3.png' %}" style="max-width:40px;float:right;">
  	</button>
 	<div class="panel">
    	<p>
	    Belajar
	    Kuliah
	    Nugas
	    Tidur
	    Repeat :)
	    </p>
  	</div>

  	<button class="accordion"> 
  		<h3 style="text-align: left;">Pengalaman Organisasi dan Kepanitiaan</h3>
  		<img src="{% static 'arrow-down-icon-png-3.png' %}" style="max-width:40px;float:right;">
 	</button> 
  	<div class="panel">
    	<p>
    	Organisasi
    	</p>
    		<ul>
		      	<li>Kestari DPM Fasilkom UI</li>
		      	<li>Staff Creative Events KMBUI</li>
    		</ul>
        <p>
    	Kepanitiaan
    	</p>
   		<ul>
		      <li>Sekretaris BETIS 2020</li>
		      <li>Staff Acara Wisgan</li>
		      <li>Staff LO Wisgen</li>
		      <li>Staff Bazkom CGT</li>
		      <li>Staff Sponsorship COMPFEST 11</li>
		      <li>Staff Acara Makrab KMBUI 2018</li>
    	</ul>
  	</div>
  	<button class="accordion"> 
   		<h3>Prestasi</h3>
   		<img src="{% static 'arrow-down-icon-png-3.png' %}" style="max-width:40px;float:right;">
 	</button>
  	<div class="panel">
    <p>
      Belom ada nih, sad...
    </p>

  	</div>

</div>
 

<br>
<br>
<br>


{% endblock %}
